/* DOCUMENTO CSS */

body {
	margin: 0;
	padding:0;
	border: 0;
	font-family:Comic Sans MS;
	background-color: #f391bb;
	

}

header {
	background-color: #ea088d;
	height: 110px;
	padding-top: 25px;
	color:#5a1d36;
	text-align: center;
}

main {
	margin: 0;
	padding:0;
	display: flex;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
	text-align: center;
}

.box {
	font-size: 13px;
	width: 250px;
	height: 450px;
	text-align: center;
	color: #f391bb;
	background-color:#5a1d36;
	border-radius: 10px;
	padding:10px;
	margin: 10px;

}
.box:hover{
	box-shadow: 6px 6px 10px #000000;
}

.box h2 {margin: 0 0 10px 0;
	padding: 0;
	font-size: 22px;

}

.box figure { 
	width: 220px
	height: 180px
	background-color: #e6e6e6;
	margin: 0;
	padding: 0;
}

.box p {


}

footer {
	background-color: #cf97a0;
	height: 70px;
	padding-top: 10px;
	color: darkred;
	text-align: center;
}

h2 {
	color: #ea088d;
}

